@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", "sans-serif";
}

:root {
  --background: #ffffff;
  --foreground: #030303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #f3fafd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist);
}

.logo{
  font-family: "Noto Sans JP", "sans-serif";
}
